.anchor-pane1 {
    -fx-background-color: #003049;
}

.text1 {
    -fx-fill: #fcbf49;

}

.anchor-pane2 {
    -fx-background-color: #fcbf49;
}

.text2 {
    -fx-fill: #003049;
}

.label {
    -fx-text-fill: #eae2b7;
    -fx-background-color: #003049;
    -fx-background-radius: 20;
}

.timer-buttons {
    -fx-background-color: #003049;
    -fx-text-fill: #eae2b7;
    -fx-background-radius: 15;
}

.app.buttons {
    -fx-background-color: #003049;
    -fx-text-fill: #ffa135;
    -fx-background-radius: 15;
}

.exit-button {
    -fx-background-color: #003049;
    -fx-text-fill: #ff4848;
    -fx-background-radius: 15;
}